.loginbutton {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #3532f3, #642ace);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 18px;
    padding: 0.6em 1.5em;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .loginbutton:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }
  
  @keyframes pulse512 {
    0% {
      box-shadow: 0 0 0 0 #05bada66;
    }
  
    70% {
      box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
  }